/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  nav {
    display: flex;
    justify-content:end;
    align-items:flex-start;
    color: #d8d2d2;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 5px;
  }
  
  /* Nav links styles */
  a {
    color: #d8d2d2;
    text-decoration: none;
    padding: 5px;
  }

  nav a {
    color: #292828;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: 0.2s ease color;
    white-space: nowrap;
    
  }

  
  /* Nav links styles on hover */
  nav a:hover {
    color: #fff;
    text-decoration: none;
    text-underline-offset: none;
  }


